amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  color: #FFFFFF;
  min-height: 11vh;
}

.app-body {

}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

/*.app-header {*/
/*  background-color: #282c34;*/
/*  !*min-height: 100vh;*!*/
/*  display: inline;*/
/*  flex-direction: column;*/
/*  !*align-items: center;*!*/
/*  !*justify-content: center;*!*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-out {
  float: right;
  margin-right: 10vh;
  margin-top: 2vh;
}

.user-name {
  float: left;
  margin-left: 10vh;
  margin-top: 3vh;
}